	body {
		margin:20px 20px 20px 20px;
		background:#6C6457;		
		}
	A 			{ color: #993300; text-decoration: none; font-weight:normal; } 
	A:link		{ color: #993300; text-decoration: none; } 
	A:visited	{ color: #993300; text-decoration: none; } 
	A:active	{ color: #FFCC66;  } 
	A:hover		{ color: #FFCC66;  }

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	#banner {
		font-family:georgia, verdana, arial, sans-serif;
		color:#FFF;
		font-size:x-large;
		font-weight:bold;
		border-left:1px dotted #FFF;	
		border-right:1px dotted #FFF;  		
		border-top:1px dotted #FFF;  		
  		background:#993300;
  		padding:15px; 		  		  		 	 
		}

	#banner a,
        #banner a:link,
        #banner a:visited,
        #banner a:active,
        #banner a:hover {
		font-family:georgia, verdana, arial, sans-serif;
		font-size: x-large;
		font-weight: bold;
		color: #FFF;
		text-decoration: none;
		}
		
	.description {
		font-family:verdana, arial, sans-serif;
		color:#FFF;
		font-size:x-small;
		font-weight:bold;
  		background:#993300;
  		text-transform:none;	
		}	
				
	#content {
		float:left;
		position:relative;
		width:60%;
		background:#FFF;
		margin-right:15px;
		margin-bottom:20px;
		border:1px dotted #333;	
		}

	#container {
		background:#FFF;
		border:1px dotted #333;		
		}

	#links {
		background:#FF9933;
		padding:15px;				
		border:1px dotted #FFF;			
		}
		
	.blog {
  		padding:15px;
		background:#FFF;  							
		}	

	
	.blogbody {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:16px;			
		}

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
		text-decoration: underline;
	}
	
	.title	{ 
		font-family: verdana, arial, sans-serif; 
		font-size: small; 
		color: #003366; 	
		text-transform:uppercase;				
		}			

	#menu {
  		margin-bottom:15px;
		background:#FFF;
		text-align:center;  							
		}		

	.date	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: small; 
		color: #666; 
		border-bottom:1px solid #999;
		margin-bottom:10px;
		font-weight:bold;
		}			
		
	.posted	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: x-small; 
		color: #003366; 
		margin-bottom:25px;
		}
		
		
	.calendar {
		font-family:verdana, arial, sans-serif;
		color:#FFF;
		font-size:x-small;
		font-weight:normal;
  		background:#FF9933;
  		line-height:140%;
  		padding:2px;
  		text-align:center;	
		}
	
	.calendarhead {	
		font-family:verdana, arial, sans-serif;
		color:#FFF;
		font-size:x-small;
		font-weight:bold;
  		background:#FF9933;
  		line-height:140%;
  		padding:2px;					
		}	
	
	.side {
		font-family:verdana, arial, sans-serif;
		color:#333;
		font-size:x-small;
		font-weight:normal;
  		background:#FF9933;
  		line-height:140%;
  		padding:2px;				
		}	
		
	.sidetitle {
		font-family:verdana, arial, sans-serif;
		color:#FFF;
		font-size:small;
		font-weight:normal;
  		line-height:140%;
  		padding:2px;
  		margin-top:10px;
		letter-spacing: .1em;
		border-bottom:1px dotted #FFF;
		text-align:center;		  					
  		background:#FF9933;		
		}		
	
	.syndicate {
		font-family:verdana, arial, sans-serif;
		font-size:xx-small;
		font-weight:bold;		
  		line-height:140%;
  		padding:2px;
  		margin-top:10px;
  		text-align:center;
  		background:#FF9933;  		
 		}	
		
	.powered {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:xx-small;
		font-weight:bold;
  		border:1px dotted #999;			
		line-height:140%;
		text-transform:uppercase; 
		padding:2px;
		margin-top:10px;
		text-align:center;
		letter-spacing: .2em;					
  		background:#FFF;		
		}	
		
	
	.comments-body {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px dotted #999; 					
		}		

	.comments-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;		
		}	

	.trackback-url {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding:5px;	
 		border:1px dotted #999; 					
		}

	.trackback-body {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px dotted #999; 					
		}		

	.trackback-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;		
		}

		
	.comments-head	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: small; 
		color: #666; 
		border-bottom:1px solid #999;
		margin-top:20px;
		font-weight:bold;
  		background:#FFF;		
		}		

	#banner-commentspop {
		font-family:georgia, verdana, arial, sans-serif;
		color:#FFF;
		font-size:large;
		font-weight:bold;
		border-left:1px dotted #FFF;	
		border-right:1px dotted #FFF;  		
		border-top:1px dotted #FFF;  		
  		background:#993300;
  		padding-left:15px;
  		padding-right:15px;
  		padding-top:5px;
  		padding-bottom:5px;  		  		  			 
		}
