	body {
		margin:20px 20px 20px 20px;
		background:#FFF;		
		}
	A 			{ color: #336666; text-decoration: none;} 
	A:link		{ color: #336666; text-decoration: none; } 
	A:visited	{ color: #336666; text-decoration: none; } 
	A:active	{ color: #669999;  } 
	A:hover		{ color: #669999;  }

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	#banner {
		font-family:verdana, arial, sans-serif;
		color:#CC9933;
		font-size:x-large;
		font-weight:bold;
  		background:#FFF;
  		padding-left:15px; 					
		}
		
	#banner a,
        #banner a:link,
        #banner a:visited,
        #banner a:active,
        #banner a:hover {
		font-family:verdana, arial, sans-serif;
		font-size: x-large;
		color: #CC9933;
		text-decoration: none;
		}

	.description {
		font-family:verdana, arial, sans-serif;
		color:#CCC;
		font-size:x-small;
		font-weight:bold;
  		background:#FFF;	
  		text-transform:none;	
		letter-spacing: none; 		
		}	
				
	#content {
		float:left;
		width:65%;
		background:#FFF;
		margin-right:15px;
		margin-bottom:20px;
		}

	#links {
		background:#FFF;
		color:#CCC;
		margin-top:35px;				
		}
		
	.blog {
  		padding-left:15px;
  		padding-top:15px;
  		padding-right:15px;					
		}	
	
	.blogbody {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;		
  		border-left:1px dotted #666;			
  		border-right:1px dotted #666;
  		border-bottom:1px dotted #666;	  			  		
  		padding:10px;
		}

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
		text-decoration: underline;
	}
	
	.title	{ 
		font-family: verdana, arial; 
		font-size: small; 
		color: #CCC; 
		text-transform: uppercase;
		font-weight:bold;	
		}			
		
	#menu {
  		margin-bottom:10px;
		background:#FFF;
		font-size:small;
		font-weight:bold;  							
		}	
		
	.date	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: normal; 
		color: #999; 
		font-weight:bold;
		text-transform:uppercase;
		margin-top:10px;		
  		border-bottom:1px dotted #666;	
		}			
		
	.posted	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: x-small; 
		color: #999; 
		}
		
		
	.calendar {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
  		padding:5px;				
		}
	
	.calendarhead {	
		font-family:verdana, arial, sans-serif;
		color:#CC9933;
		font-size:x-small;
		font-weight:bold;
  		background:#FFF;
  		line-height:140%;				
		}	
	
	.side {
		font-family:verdana, arial, sans-serif;
		color:#CCC;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;				
		}	
		
	.sidetitle {
		font-family:verdana, arial, sans-serif;
		color:#999;
		font-size:x-small;
		font-weight:bold;
  		background:#FFF;
  		line-height:140%;
  		padding:2px;
  		margin-top:10px;
  		border-bottom:1px dotted #666;
  		text-transform:uppercase;
		letter-spacing: .2em;  					
		}		
	
	.syndicate {
		font-family:verdana, arial, sans-serif;
		font-size:xx-small;
		font-weight:bold;		
  		line-height:140%;
  		padding:2px;
  		margin-top:10px;
  		text-align:center;
  		background:#FFF;  		
 		}	
		
	.powered {
		font-family:verdana, arial, sans-serif;
		color:#CCC;
		font-size:xx-small;
		font-weight:bold;
		border-top:1px dotted #666;
		border-bottom:1px dotted #666;		
		line-height:140%;
		text-transform:uppercase; 
		padding:2px;
		margin-top:10px;
		text-align:center;
		letter-spacing: .2em 
		background:#FFF; 					
		}	
		
	
	.comments-body {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
  		padding-bottom:10px;			
		}		

	.comments-post {
		font-family:verdana, arial, sans-serif;
		color:#999;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;	
    	margin-top:0px;		
		}	
		
	.comments-head	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: small; 
		color: #999; 
		font-weight:bold;
		margin-top:10px;
		text-transform:uppercase;
		border-bottom:1px dotted #666;		
		}		

 	.trackback-body {
		font-family:verdana, arial, sans-serif;
		color:#333;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;	
  		padding-top:15px;				
		}		

	.trackback-url {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;	
  		padding:5px;
  		border:1px dashed #666; 				
		}

	.trackback-post {
		font-family:verdana, arial, sans-serif;
		color:#999;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;
  		margin-bottom:20px;
		}	

	#banner-commentspop {
		font-family:verdana, arial, sans-serif;
		color:#CC9933;
		font-size:large;
		font-weight:bold;
  		background:#FFF;
  		padding-left:15px; 
		}
