body {
    margin: 0 0 20px 10%;
    background-color: #6699CC;
}

a {
    text-decoration: underline;
}

a:link {
    color: #003366;
}

a:visited {
    color: #003366;
}

a:active {
    color: #003366;
}

a:hover {
    color: #003366;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

#container {
    background-color: #FFFFFF;
    text-align: left;
    padding: 5px;
    width: 620px;
}

#banner {
    background-color: #99CC66;
    border-bottom: 1px dotted #6699CC;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    height: 42px;
    padding: 15px;
    text-align: left;
    width: 600px;
}

#banner-commentspop {
    background-color: #99CC66;
    border-bottom: 1px dotted #6699CC;
    color: #fff;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
    text-align: left;
}

#banner a {
    color: #FFFFFF;
    text-decoration: none;
}

#banner h1 {
    font-size: xx-large;
    font-weight: bold;
}

#banner .description {
    font-size: small;
}

#content {
    background-color: #FFFFFF;
    color: #333333;
    float: left;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    width: 420px;
}

#menu {
    background :#FFF;  							
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    margin-bottom :15px;
}	

.blog {
    background-color: #fff;
    padding: 8px;
}

.blog p {
    color: #333333;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 150%;
    text-align: left;
    margin-bottom: 10px;
}

.blog blockquote {
    line-height: 150%;
}

.blog li {
    line-height: 150%;
}

.blog h2 {
    color: #333333;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: medium;
    border-bottom: 1px solid #333333;
    text-align: left;
    font-weight: bold;


    margin-bottom: 10px;
    padding: 3px;
}

.blog h3 {
    color: #000000;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: large;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;

}

.blog .blogbody {
    margin-bottom: 25px;
}

.blog .posted {
    border-top: 1px dotted #999999;
    color: #999999;
    display: block;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    font-weight: bold;
    line-height: normal;
    padding: 3px;
    text-align: left;
}

#links {
    background-color: #fff;
    float: left;
    overflow: hidden;
    width: 200px;
}

.side, .syndicate, .powered {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    padding: 3px 15px 10px 15px;
    text-align: left;
}

.side a {
    text-decoration: none;
}

.side a:link {
    color: #;
}

.side a:visited {
    color: #;
}

.side a:active {
    color: #;
}

.side a:hover {
    color: #;
}


.calendar {
    line-height: 140%;
    color: #333333;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    padding: 2px;
    text-align: center;
    margin-bottom: 30px;
}

.calendar table {
    padding: 2px;
    border-collapse: collapse;
    border: 0px;
    width: 100%;
}

.calendar caption {
    color: #666666;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    border-bottom: 1px solid #999999;
    text-align: left;
    font-weight: bold;

    text-transform: uppercase;
    padding: 3px;
    letter-spacing: .3em;
}

.calendar th {
    text-align: center;
    font-weight: normal;
}

.calendar td {
    text-align: center;
}

.sidetitle {
    border-bottom: 1px solid #999999;
    color: #666666;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    font-weight: bold;
    letter-spacing: .3em;
    margin: 3px;
    text-align: left;
    text-transform: uppercase;
}

.side ul {
    padding-left: 0px;
    margin: 0px;
    margin-bottom: 30px;
}

.side li {
    color: #333333;
    text-align: left;
    line-height: 150%;



    margin-top: 10px;
    list-style-type: none;
}

.side img {
    border: 5px solid #EEEEEE;
}

.photo {
    text-align: left;
    margin-bottom: 20px;
}

.link-note {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    line-height: 150%;
    text-align: left;
    padding: 2px;
    margin-bottom: 15px;
}

.comments-head	{ 
    border-bottom: 1px solid #333333;
    color: #333333;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 3px;
    text-align: left;
}

.comments-body {
    color: #333333;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 120%;
    text-align: left;
    margin-bottom: 10px;
}

.comments-body textarea {
    width: 75%;
}

.comments-post { 
    border-top: 1px dotted #999999;
    color: #999999;
    display: block;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    font-weight: bold;
    line-height: normal;
    padding: 3px;
    text-align: left;
}

.extended {
    font-size: small;
    font-style: italic;
    margin-bottom: 1ex;
}
