body {
    color: #cfc;
    margin: 0;
    background-color: #000;		
    background-image: url(matrix-bodybg.jpg);		
    background-repeat: repeat-x;
}

a, a:link, a:visited { 
    color: #dd8; 
    text-decoration: none; 
}
a:active, a:hover { 
    color: #ffb; 
    text-decoration: underline; 
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

#banner {
    background-image: url(matrix-shadebg.png);
    border: #565 1px solid;
    color: #8f8;
    font-family: monospace;
    font-weight: bold;
    margin: 5px;
    padding: 5px 20px;
}

#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover {
    color: #cfc;
    font-family: monospace;
    font-size: 32pt;
    letter-spacing: .5ex;
    text-decoration: none;
}

.description {
    color: #ada;
    display: block;
    font-family: monospace;
    font-size: large;
    font-weight:bold;
    letter-spacing: none; 		
    text-transform:none;	
}

#content, #container {
    background-image: url(matrix-contentbg.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    position: absolute;
    left: 0;
}

#content .blog {
    margin-bottom: 100px;
    margin-right: 290px;
}

#links {
    position: absolute;
    right: 10px;
    width: 280px;
    text-align: right;
}

.blogbody {
    font-family: sans-serif;
    font-size: small;
    font-weight: normal;
    line-height:140%;		
    margin: 10px 20px;
    text-align: justify;
}

.title { 
    background-image: url(matrix-shadebg.png);
    border: #565 1px solid;
    font-family: monospace;
    font-size: large; 
    font-weight: bold;	
    letter-spacing: .5ex;
    margin: 0 -10px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
}			

#menu {
    background-image: url(matrix-shadebg.png);
    border: 1px solid #565;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;  							
    margin: 10px 20%;
    padding: 5px;
    text-align: center;
}	

.date	{ 
    font-family:sans-serif; 
    font-size: small; 
    color: #eea; 
    font-weight:bold;
    text-transform:uppercase;
    margin: 10px 10px 0 0px;		
    text-align: right;
}			

.posted	{ 
    color: #dd8; 
    display: block;
    font-family: sans-serif; 
    font-size: x-small; 
}


.calendar {
    font-family: monospace;
    font-size: small;
    font-weight: normal;
    padding: 5px;				
}

div.calendar {
    margin-left: auto;
    text-align: right;
    width: 250px;
}

.calendarhead {
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    letter-spacing: .5ex;
    margin-top: 15px;
    padding: 2px 10px;
    text-transform: uppercase;
    width: 250px;
}

.side {
    font-family: sans-serif;
    font-size: small;
    font-weight: small;
    line-height: 125%;
    margin: 5px 10px 5px auto;
    width: 250px;
}	

.sidetitle {
    border: 1px solid #565;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    letter-spacing: .5ex;
    margin-top: 15px;
    margin-left: auto;
    padding: 2px 10px;
    text-transform: uppercase;
    width: 250px;
}

.syndicate {
    font-family: sans-serif;
    font-size: x-small;
    font-weight: normal;		
    margin-left: auto;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    width: 250px;
}	

.powered {
    border-bottom: 1px solid #565;		
    border-top: 1px solid #565;
    font-family: sans-serif;
    font-size: x-small;
    font-weight: bold;
    letter-spacing: .2em;
    margin: 10px 0 0 auto;
    padding: 2px;
    text-align: center;
    text-transform: uppercase; 
    width: 250px;
}	


.comments-body {
    font-family: sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 140%;					
    margin: 10px 20px;
}		

.comments-post {
    color: #dd8; 
    display: block;
    font-family: sans-serif; 
    font-size: x-small; 
    margin: 5px 0;
}	

.comments-head	{ 
    background-image: url(matrix-shadebg.png);
    border: 1px solid #565;		
    font-family: monospace;
    font-size: medium; 
    font-weight: bold;
    letter-spacing: .5ex;
    margin: 10px 10px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
}		

.trackback-body {
    font-family: sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 125%;	
    margin: 5px;
    padding: 5px;
}		

.trackback-url {
    border: 1px solid #565; 				
    font-family: sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 125%;	
    margin: 5px;
    padding: 5px;
}

.trackback-post {
    font-family:sans-serif;
    font-size:x-small;
    font-weight:normal;
    margin-bottom:20px;
}	

#banner-commentspop {
    background-image: url(matrix-shadebg.png);
    border: #565 1px solid;
    color: #8f8;
    font-family: monospace;
    font-size: 24pt;
    font-weight: bold;
    margin: 5px;
    padding: 5px 20px;
}

#author, #email, #url, #text {
    border: 1px solid #565;
}
