body {
    background: #fff;
    font-family: "Trebuchet MS", arial, helvetica, sans-serif;
    margin: 0px 0px 20px 0px;
}

a, a:link, a:visited	{ 
    border-bottom: #88a dotted 1px;
    color: #88a;
    text-decoration: none; 
}

a:active, a:hover {
    border-bottom: #445 solid 1px;
    color: #445;  
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

#banner, #banner-commentspop {
    background-image: url(stripes.png);
    border-bottom: 3px solid #888;
    color: #000;
    font-size: x-large;
    font-weight: normal;	
    padding: 10px 0 10px 15px;
}

#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover {
    border: none;
    color: #000;
    font-size: 40px;
    text-decoration: none;
}

.description {
    color: #333;
    font-size: small;
    text-transform: none;	
}

#content {
    position: absolute;
    left: 275px;
    right: 65px;
}

#container {
    border: 1px solid #fff;		
    margin: 0 50px 0 50px;
}

#links {	
    margin-left: 50px;
    padding: 15px;				
    width: 200px;			
}

.blog {
    padding:15px;
}

.blogbody {
    color: #333;
    line-height: 140%;
    text-align: justify;
}

.title	{
    font-size: large;
}			

#menu {
    text-align: center;
}		

.date	{ 
    background-image: url(stripes.png);
    border-bottom: 2px solid #888;
    color: #333; 
    font-size: medium; 
    font-weight:bold;
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
}			

.posted	{ 
    color: #000; 
    display: block;
    font-size: small; 
    margin-bottom: 25px;
    padding-top: 2px;
    text-align: center;
}

.calendar a {
    border: #888 solid 1px;
    font-weight: bold;
    padding: 0 2px 0 2px;
}

.calendar table {
    width: 100%;
}

.calendar td, .calendar th {
    color:#666;
    font-size: small;
    font-weight: normal;
    line-height: 140%;
    padding: 2px;
    text-align: center;
}

.calendarhead {	
    background-image: url(stripes.png);
    border-bottom: 2px solid #888;
    color: #000;
    font-size: normal;
    font-weight: bold;
    padding: 2px;
    text-align: center;			
}	

.side {
    color: #333;
    font-size: small;
    font-weight: normal;
    line-height: 140%;
    padding: 2px;				
}

.side form {
    margin: 0;
}

.sidetitle {
    background-image: url(stripes.png);
    border-bottom: 2px solid #888;
    color: #000;
    font-weight: bold;
    margin-top: 30px;
    padding: 2px;
    text-align: center;
}		

.syndicate {
    background-image: url(stripes.png);
    border-bottom: 2px solid #888;
    font-weight: bold;
    padding: 2px;
    margin-top: 15px;
    text-align: center;
}

.syndicate a, .syndicate a:hover {
    border: none;
}

.powered {
    color: #666;
    font-size: small;
    line-height: 140%;
    padding: 2px;
    text-align: center;
}	

.comments-body {
    border-bottom: #aaa dotted 1px;
    color: #666;
    line-height: 140%;
    margin: 10px 30px;
    padding-bottom: 10px;
    text-align: justify;
}		

.comments-post {
    color: #666;
    display: block;
    font-size: small;
    text-align: center;
}	

.trackback-url {
    color:#666;
    font-size:small;
    font-weight:normal;
    line-height:140%;
    padding:5px;		
    border:1px dotted #999; 					
}


.trackback-body {
    color:#666;
    font-size:small;
    font-weight:normal;
    line-height:140%;
    padding-bottom:10px;
    padding-top:10px;		
    border-bottom:1px dotted #999; 					
}		

.trackback-post {
    color:#666;
    font-size:x-small;
    font-weight:normal;
}	


.comments-head	{ 
    background-image: url(stripes.png);
    border-bottom: 2px solid #888;
    color: #333; 
    font-size: medium; 
    font-weight:bold;
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
}		

#author, #email, #search, #text, #url {
    border: #aaa solid 1px;
}

#text {
    width: 350px;
}
