.header {
	color: #1E90FF;
	background: #DCDCDC;
	margin-bottom: 10px;
	font-size: medium;
	background: #DCDCDC;
	border: 1px solid #2F4F4F;
	padding: 3px;
}

.item {
	font-family: Arial, Verdana, sans-serif;
}
	    
.item A {
	color: #1E90FF;
}

