BODY {
	color: Black;
	background-color: White;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: small;
	margin: 15px;
}

H1{	
	
	font-size: x-large;
	margin-top: 5px;
	margin-bottom: 5px;
}

H2{
	background: #DCDCDC;
	font-size: large;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px;
}

H3{
	background: #DCDCDC;
	font-size: medium;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px;
}

P{
	margin-top: 10px;
	margin-bottom: 10px; 
}

img{
margin: 10px 17px;
 border: 15px;
}

A {
	color: #1E90FF;
	text-decoration: underline;
	text-indent: 17px;
}

A:HOVER {
	color: #FF6347;
}