<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<$Charset$>" />

		<title><$BlogTitle$></title>
		<link rel="stylesheet" href="styles-site.css" type="text/css" />    
	</head>

	<body>
    <div id="banner">
		<h1><$BlogTitle$></h1>
		<span class="description"><$BlogDescription$></span>
    </div>

	<div id="content">
		<div class="blog">

		<!-- This section specifies the layout for each entry -->
		<BlogEntry>
		<DayHeader><h2 class="date"><$DayHeaderDate$></h2></DayHeader>		
		<div class="blogbody">
			<a name="<$EntryID$>"></a>
			<EntryTitle>
			<h3 class="title"><$EntryTitle$></h3>
			</EntryTitle>
			<$EntryBody$>
			<div class="posted">
				Posted by <a href="mailto:<$EntryAuthorEmail$>"><$EntryAuthor$></a> at <a href="<$EntryPermalink$>" title="permanent link"><$EntryTime$></a><br>
				<EntryModifiedDate><i>Edited on: <$EntryModifiedDate$></i><br></EntryModifiedDate>
				Categories: <EntryCategories glue=", "><a href="<$CategoryLink$>"><$CategoryName$></a></EntryCategories><br>
			</div>
		</div>
		</BlogEntry>	


		</div><!--end blog -->
	</div> <!-- end content -->
    
	<!-- sidebar begin -->
    <div id="links">
    
    <!-- This section lays out the calendar -->
		<div align="center" class="calendar">			
			<Calendar>
				<table border="0" cellspacing="3" cellpadding="0" summary="Monthly calendar with links to each day's posts">
					<caption class="calendarhead"><$MonthLabel$></caption>
					<tr>						
						<WeekDays><th align="center"><span class="calendar"><$WeekDay$></span></th></WeekDays>
					</tr>
				<CalendarWeek>
					<tr><CalendarDay><td align="center">
						<span class="calendar">
						<IfDayHasNoEntries><$DayOfMonth$></IfDayHasNoEntries>
						<IfDayHasEntries><a href="<$EntryArchivePage$>#<$DateOfDay format="yyyy-MM-dd"$>"><$DayOfMonth$></a></IfDayHasEntries>
						<IfEmptySpace>&nbsp;</IfEmptySpace></span></td>						
					</CalendarDay></tr>
				</CalendarWeek>
				</table>
			</Calendar>
		</div> <!-- end calendar -->
		
		 
		<div class="syndicate">
			<a href="<$RssLink$>">Syndicate this site (XML)</a>
		</div>
    
		<!-- Archive links list -->
		<div class="sidetitle">
			Archives
		</div>

		<div class="side">
		<ArchiveList>
			<a href="<$ArchiveLink$>"><$ArchiveName$></a><br />
		</ArchiveList>
		<br /><a href="<$IndexPageLink$>">Archive Index</a><br />        
		</div>
      
      
		<!-- Category links list -->
		<div class="sidetitle">
			Categories
		</div>

		<div class="side">
		<CategoryList>
			<a href="<$CategoryLink$>"><$CategoryName$></a><br />
		</CategoryList>
		</div>      


		<div class="sidetitle">
			Credits
		</div>
		<div class="side"><!--REQUIRED LINK!!!! do not delete! -->
			<a href="http://www.movablestyle.com/">Design by Movablestyle</a><br />        
		</div>
      	
      	<br />
		<div class="powered">
			Powered by<br /><a href="<$AppLink$>"><$AppName$> <$AppVersion$></a><br />    
		</div>
 

	</div>
    <br clear="all" />
    </body>
</html>
